HOST_API=https://urapi.com
HOST_API_STORAGE=https://urapi.com/storage
NEXT_PUBLIC_HOST_API_STORAGE=https://urapi.com/api/storage
HOST_APP=http://localhost:3000
NEXT_PUBLIC_BASE_URL_ENDPOINT="https://urapi.com/api"
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-URCODE
